.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(27, 27, 27, 0.2);
    z-index: 50;
}

.alert-box {
    position: fixed;
    top: 30vh;
    left: 30vw;
    width: 40vw;
    padding: 16px;
    z-index: 100;
    background: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.alert-box-action {
    text-align: right;
}