<div class="container">
<!--     
    Angular Basics    
    <h2 class="mt-3 mb-3">{{getQuarterDate()}}: {{title}}</h2>

    <app-sales-person-list></app-sales-person-list>     -->

    <!--Angular Components & DataBinding-->
<!--     <app-cockpit (serverCreated)="onServerAdded($event)"
        (bpCreated)="onBlueprintAdded($event)"></app-cockpit>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary me-2 mb-3" (click)="onChangeFirst()">Change First Element</button>
            <button class="btn btn-danger mb-3" (click)="onDestroyFirst()">Destroy First Component</button>
            <app-server-element 
                *ngFor="let serverElement of serverElements"
                [srvElement]="serverElement"
                [name]="serverElement.name">
                <p #contentParagraph>
                    <strong class="card-text" *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
                    <em class="card-text" *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
                </p>
            </app-server-element>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-xs-12">
            <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
            <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
        </div>
    </div> -->

    <!--Custom Directives-->
    <!--Apply Custom Attribute Directive-->
    <!-- <p appBasicHighlight>Style me with basic directive</p>
    <p [appBetterHighlight]="'gray'" defaultColor="orange">Style me with better directive</p> -->

    <!--Apply Custom Structural Directive (appUnless)-->
    <!-- <app-cockpit (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"></app-cockpit>

    <hr>
    
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary me-2 mb-3" (click)="onChangeFirst()">Change First Element</button>
            <button class="btn btn-danger mb-3" (click)="onDestroyFirst()">Destroy First Component</button>
            <app-server-element 
                *ngFor="let serverElement of serverElements"
                [srvElement]="serverElement"
                [name]="serverElement.name">
                <p #contentParagraph>
                    <strong class="card-text" *appUnless="serverElement.type !== 'server'" style="color: red">{{ serverElement.content }}</strong>
                    <em class="card-text" *appUnless="serverElement.type !== 'blueprint'">{{ serverElement.content }}</em>
                </p>
            </app-server-element>
        </div>
    </div>

    <div [ngSwitch]="quarterDate">
        <p *ngSwitchCase="'January'">Q: January</p>
        <p *ngSwitchCase="'April'">Q: April</p>
        <p *ngSwitchCase="'July'">Q: July</p>
        <p *ngSwitchCase="'October'">Q: October</p>
        <p *ngSwitchDefault>Q: December</p>
    </div> -->

    <!--Service and Dependency Injection-->
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <app-new-account></app-new-account>
          <hr>
          <app-account
            *ngFor="let account of accounts; let i = index"
            [account]="account"
            [id]="i">
        </app-account>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <app-active-users></app-active-users>
            <app-inactive-users></app-inactive-users>
        </div>
    </div>
</div>